@model SneakersApp.Models.ShoesDetailModel;

<div class="shoes_detail_container">
    <div class="row">
        <div class="shoes_img_container col-lg-4 col-md-6">
            <img src="@Model.Url" alt="@Model.Title" />
        </div>
        <div class="shoes_infos_container col-lg-8 col-md-6 align-self-center">
            <h1>@Model.Title</h1>
            <p>Créé le @Model.Created</p>
        </div>
    </div>
    <div class="shoes_description_container">
        <h2>Description</h2>
        <p>
            Nunc vero inanes flatus quorundam vile esse quicquid extra urbis pomerium nascitur aestimant praeter orbos et caelibes, nec credi potest qua obsequiorum diversitate coluntur homines sine liberis Romae.

            Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum saeviebat ingenium a veri consideratione detortum et nullo inpositorum vel conpositorum fidem sollemniter inquirente nec discernente a societate noxiorum insontes velut exturbatum e iudiciis fas omne discessit, et causarum legitima silente defensione carnifex rapinarum sequester et obductio capitum et bonorum ubique multatio versabatur per orientales provincias, quas recensere puto nunc oportunum absque Mesopotamia digesta, cum bella Parthica dicerentur, et Aegypto, quam necessario aliud reieci ad tempus.
        </p>
    </div>
    <a asp-controller="Shoe" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-dark">Update</a>
    <a asp-controller="Shoe" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete this shoe</a>
    <a asp-controller="Shoe" asp-action="Index" class="btn btn-light">Back to home</a>
</div>